[default]
aws_access_key_id = {{ access_key }}
aws_secret_access_key = {{ secret_key }}

{% for entry in aws_additonal_credentials %}
[{{ entry.name }}]
aws_access_key_id = {{ entry.access_key }}
aws_secret_access_key = {{ entry.secret_key }}

{% endfor %}
